#ignore LUT source files directory
LUT/**
LUT source files/
PWM_Test results/
Project 1 Results/
Project 2 Results/
*.wdb

**/sim*


**/sim*

*.sim

test_working_viv/test_working_viv.sim/
PWM_HW/PWM_HW.sim/
*
Example_Project_Wavegen/